.botao{
    width: 70px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.781);
    margin-bottom: 5px;
    display: flex;              
    align-items: center; 
    justify-content: center;  
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.titulo{
    height: 70px;
    font-size: 30px;
    font-family: sans-serif;
    
}
.tela{
    width: 295px;
    height: 60px;
    background-color: white;
    border: 1px solid black;
    font-size: 28px;
}
body{
    display: flex;
    gap: 10px;
}
.calculadora{
    display: flex;
    gap: 5px;
    width: 300px;
    height: 500px;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    background-color: rgb(181, 181, 181);
    
}
.div0{
    gap: 5px;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
}
.div1{
    gap: 5px;
    display: flex;
    margin-top: 5px;
}
.div2{
    gap: 5px;
    display: flex;
    margin-top: 5px;
}
.div3, .div4{
    gap: 5px;
    display: flex;
    margin-top: 5px;
}