.quadrado{
    width: 200px;
    height: 200px;
    background-color: red;
    /* transition: width 0.3s ease, height 1.5s ease-out; */
    animation: animaQuadrado 2s infinite;
    
}

.quadrado:hover{
    width: 300px;
    height: 300px;
    background-color: yellow;
}

@keyframes animaQuadrado{
    0%{
        width: 200px;
        height: 200px;
        background-color: rgb(65, 115, 165);
        margin-left: 330px;
    }
    10%{
        width: 400px;
        height: 210px;
        background-color: rgb(255, 0, 179); 
        margin-left: 330px;
    }
    50%{
        width: 350px;
        height: 200px;
        /* background-color: rgb(255, 0, 179); */
        margin-left: 50%;

    }
    70%{
        width: 420px;
        height: 220px;
        margin-left: 70%;
        /* background-color: rgb(255, 0, 179); */

    }
    90%{
        width: 370px;
        height: 170px;
        margin-left: 85%;
        /* background-color: rgb(255, 0, 179); */

    }
    90%{
        width: 450px;
        height: 230px;
        margin-left: 92%;
        /* background-color: rgb(255, 0, 179); */

    }
}