.container{
    display: flex;
    width: 900px;
    height: 900px;
    background-color: black;
}

@media(min-width:600px){
    .laranjas{
        background-color: orange;
    }
}

@media(min-width:300px){
    
}