h1{
    color: red;
}

h2{ 
    color: red;
}

@media(max-width: 450px){
    h1{
        color: green;
    }
    h2{
        color: green;
    }
}

@media(min-width: 768px) and (max-width: 1024px){
    h1{
        color: yellow;
    }
    h2{
        color: yellow;
    }
}

@media(orientation: landscape){
    h1{
        color: blue;
    }
    h2{
        color: blue;
    }
}